.home-slider {
  .hero-container {
    background: black;
    color: white;
    width: 100%;
    height: 548px;
    text-align: center;
    padding: auto;
  }
  em {
    color: #f44b34;
  }
  .oneDiv {
    border-bottom: 1px solid #ffffff59;
    font-size: 3.8rem;
    padding: 20px 0;
  }
  .twoDiv {
    font-size: 5.8rem;
    padding: 20px 0;
  }
}
